body {
	background-color:#e8e8e8;
}

#sideBar h1 {
	text-indent:-99999px;
	background: url('images/lb_logo.png') no-repeat center top;
	height:291px;
	margin-top:30px;	
}

#sideBar h2 {
	text-align:center;
	font-weight:normal;
	font-size:140%;
}

#sideBar {
	position:fixed;
	top:0px;
	bottom:0px;
	left:0px;
	width:400px;
	background: url('images/background.png') repeat left top;
	font-family:Georgia;
	text-align:center;
}

#sideBar ul {
	list-style:none;
	font-size:140%;
	margin-left:0px;
}

#sideBar li {
	margin-top:20px;
}

#main {
	width:520px;
	margin-left:440px;
	margin-right:40px;
	padding-top:20px;
}