body {
	background-color:#e8e8e8;
}
/*
h1, h2, h3, h4, h5, h6 {
	color:#54595c !important;
}*/

section {
	margin-top:40px;
}

#sideBar h1 {
	background: url('images/lb_logo.png') no-repeat center top;
	padding-top:230px;
	margin-top:30px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight:normal;
	letter-spacing:10px;	
}

#sideBar h2 {
	text-align:center;
/*	font-weight:normal;*/
	font-size:140%;
}

#sideBar {
	position:fixed;
	top:0px;
	bottom:0px;
	left:0px;
	width:400px;
	background: url('images/background.png') repeat left top;
	font-family:'Courier New';
	text-align:center;
	/*border-right: 1px solid #54595c;*/
/*
    box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.20);
    -webkit-box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.20);
*/}

#sideBar ul {
	list-style:none;
	font-size:140%;
	margin-left:0px;
	margin-top:0px;
}

#sideBar li {
	margin-top:20px;
}

#main {
	width:520px;
	margin-left:440px;
	margin-right:40px;
	padding-top:20px;
}

.foot {
	position:absolute;
	bottom:20px;
	text-align:center;
	width:400px;
}